<div class="pink-line"></div>
<footer>
   
    <div class ="footer-links-container">
        <ul class="footer-links">
        <li><a href="/" rel="noopener noreferrer">home</a></li>
        <!-- <a href="./about.html" rel="noopener noreferrer">About</a><br> -->
        <li><a href="/about" rel="noopener noreferrer">about</a></li>
        <li><a href="/designs" rel="noopener noreferrer">designs</a></li>
        <!-- <li><a href="./login.html" rel="noopener noreferrer">login</a></li> -->
        </ul>
    </div>

    <!-- <div class ="footer-logo">
    <div class="footer-circle"> -->
    
    <!-- <a href="./home.html" target="_blank" rel="noopener noreferrer"> -->
        <div class="socials">
        <a href="/about"><i class="fa-solid fa-address-card"></i></a>
        <a href="https://github.com/liresto"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lisandro-resto/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <!-- <img src="./logo/unite.png" alt ="unite-logo" class ="logo-image" id="footer-logo"></a>  -->

    </div> 
    </div>   

    </footer>

</body>
</html>