<div class="box"></div>

    <div class="white-circle"></div>
    <div class="logo">
        <a href=".index.html">Rendered Realms</a>
        <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i></a>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
   
    <nav>
        <!-- <div class ="logo">
        <div class ="circle"><a href="index.html"><img src="./logo/unite.png" alt="Unite Logo" class="logo-image"></a></div>
        <h1>Boston Community Network</h1>
        </div> -->

        <!-- <i class="fa fa-bars"></i> -->

        

        <ul class="nav-links">
           
            <li><a href="./home.html">home</a></li>
            <!-- <li><a href="./about.html">ABOUT</a></li> -->
            <li><a href="./about.html">about</a></li>
            <li><a href="./designs.html">designs</a></li>
            <li><a class="hamburger-login" href="./login.html">login</a></li>
        
            <!-- <li class="hamburger-login">
            <a href="login.html"><i class="fa-solid fa-right-to-bracket"></i></a>
            </li> -->

        </ul>
    </nav>

    <div class="pink-line"></div>