<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>
    
<div class="background">

 <div class="container-login" id="about-container">
    
    <h1>about</h1>
    <div class="about-section">
       <div class="about-img-container">
        <img class="pfp" src="./photos/about/pfp_cropped.jpeg">
        <p class="about-name">lisandro resto</p>
    </div>
        <div class="about-text-container">
        <p class="about-text">I am a Full-stack Web Developer with a background in Film and Television currently working in Boston. My passion is exploring emerging technologies that unlock radical forms and expression of self knowledge. 
            
            <p class="about-text">This web application embodies my commitment to expanding the realms of creativity to all by democratizing access to creative software, and platforming a community of self-taught digital artists. <p class="about-text">Through the development of this project, I honed my expertise in HTML, CSS, Javascript, Node with Express, and leveraged MongoDB to optimize data storage and rendering. Check out my LinkedIn and Github at the bottom of any page to see more!</p>
        </div>
    </div>
    
</div>



</div>

<%- include("../partials/footer") -%>