<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

<div class="background">
<div class="admin-h1">
<h1>Welcome "username" </h1>
</div>

<div class="add-comic-container">
<button id="add-comic">Create a post <i class="fa-solid fa-plus"></i></button>
</div>


<table class="post-table">
<thead>
    <th>post title</th>
    <th>edit</th>
    <th>delete</th>
</thead>

<tr>
    <td>Inflated Anxiety</td>
    <td><div class="submit-container">
        <button id="edit-button" ><i class="fa-solid fa-pen-to-square"></i></button></div></td>
    <td><button id="edit-button" class="edit-button"><i class="fa-solid fa-trash"></i></td>
</tr>

<tr>
    <td>post title</td>
    <td><button id="edit-button" class="edit-button"><i class="fa-solid fa-pen-to-square"></i></button></td>

    <td><button id="edit-button" class="edit-button"><i class="fa-solid fa-trash"></td>
</tr>

</table>

</div>

<%- include("../partials/footer") -%>

