<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

<div class="background">
<div class="admin-h1">
<h1>Welcome "username" </h1>
</div>

<div class="add-comic-container">

<a href="./admin/create"><button id="add-comic">Create a post <i class="fa-solid fa-plus"></i></button></a>
</div>


<table class="post-table">
<thead>
    <th>post title</th>
    <th>edit</th>
    <th>delete</th>
</thead>

<tbody>

    <%- include("../partials/post-listing") -%>

</tbody>

</table>

</div>

<%- include("../partials/footer") -%>

