<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

<div class="background">

    <div class="create-update-container">
       <div class="create-post-title">
       <h1>create post</h1>
       <div id="create-update-icon"> <i class="fa-solid fa-paintbrush"></i></div>
      
    </div>

       <form action ="/create" method="POST" class="create-update-form">
   
       <div class="label-input">
       <label for ="artist">artist:</label>
       
       
       <input type="text" class="form-input" placeholder="artist">
     

       </div>
   
       <div class="label-input">
       <label for = "image-link">image link:</i></label>
   
       <input type="text" class="form-input" placeholder="image link">
   
       </div>

       <div class="label-input">
        <label for = "portfolio">portfolio link:</i></label>
    
        <input type="text" class="form-input" placeholder="portfolio link">
    
        </div>

        <div class="label-input">
            <label for = "title">title:</i></label>
        
            <input type="text" class="form-input" placeholder="title">
        
            </div>

            

        <div class = "description-label-input"><label for="description">description:</label>
                    <textarea name="description"  id="description" placeholder="Synopsis"></textarea></div>
            
                

    


       <div class="submit-container">
       <input type="submit" value="submit" id="sign-in"></div>
       
   
       
   
       <div class="submit-container">
       </div>
   
       
   
   
       </form>
   
   </div>
   
   
   
   </div>

   <%- include("../partials/footer") -%>