<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

        <!-- <div class ="logo">
        <div class ="circle"><a href="index.html"><img src="./logo/unite.png" alt="Unite Logo" class="logo-image"></a></div>
        <h1>Boston Community Network</h1>
        </div> -->

        <!-- <i class="fa fa-bars"></i> -->

        

 

  <img class ="hero-img" src="./photos/hero/hero-cropped.jpeg">
  
  <div class="middle-buttons">

    <div class="circle1-container">
    <div class="circle1">
        <i class="fa-solid fa-paintbrush"></i>
    </div>
    <div class="text1">
    <p>create</p>
    </div>  
    </div>

    <div class="circle1-container">
        <div class="circle2">
            <i class="fa-solid fa-wind"></i>
        </div>
        <div class="text2">
        <p>share</p>
        </div>  
        </div>

        <div class="circle1-container">
            <div class="circle2">
                <i class="fa-solid fa-infinity"></i>
            </div>
            <div class="text3">
            <p>feel</p>
            </div>  
            </div>
    </div>   

    <!-- <div class="background">
        <div class ="container">
            <h1>Community Posts</h1>

            <div class = "post">
            <div class ="post-top">
           
            <img src="./photos/posts/Sarkar-Boston Starbucks 092722.jpeg">
            </div>
            <div class = "post-bottom">
            <h3 class="post-title">Starbucks Workers Call Off 64-Day Strike</h3>
            <p>Posted by: user123</p>
            <p> Date posted: 9-27-23</p>
            <p>Description:</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo voluptas minus repellat nemo est aperiam ducimus harum sunt ex, consequatur odio sed? Optio, totam! Consequatur, fugit? Officiis consequatur reprehenderit unde?</p>
            </div>

            </div>
        
           
            <div class = "post">
            <title>Mutual Aid Map</title>
            <img src="./photos/posts/Mutual Aid Map.png">
            <div class = "post-details">
            <p>Posted by: user456</p>
            <p> Date posted: 7-26-22</p>
            <p>Description: </p>
            <p>Check out <a href="https://www.google.com/maps/d/viewer?mid=1GkEy4b5iC5fa1JP0dih3Oqfa2krvGrBJ&shorturl=1&ll=42.30446581890701%2C-71.12009853848721&z=14">this map</a> of Mutual Aid throughout Boston with POD leaders in different neighborhoods!</p>
            </div>
            </div>
            
            <a href="#">View More</a>
        </div>
        <div class="container"> --> 
    <!-- <h1>Post an Action</h1>
    <form>
        <div class="post-title">
            <label for="Title">Title:</label>
            <input type="text" value="Title" name="title" id="title">
            </div>
    </form>

    <form>
        <div class="post-body">
            <label for="Body">Body:</label>
            <input type="text" value="body" name="body" id="body">
            </div>
    </form> -->

    <!-- <h1>Want to share something with your community?</h1>
    <p>Share an action, resource, or recent happening within your local community below!</p>

    <form action="#" class="post-form">
        <div class="post-title">
            <label for="Title">Title:</label>
            <input type="text" value="Title" name="title" id="title">
        </div>
    
        <div class="post-location">
            <label for="Location">Location:</label>
            <input type="text" value="Location" name="location" id="location">
        </div>
    
        <div class="post-description">
            <label for="description">Description: </label>

            <textarea name="description" id="post-description">Description</textarea>
        </div>
    </form> -->


    </div>
    </div>

    <div class="orange-circle"></div>
    <div class="summary-container">
    <div class="summary">
    <p>Online realm for sharing and feeling experimental 3D stills</p>
    <img class="photo1" src="./photos/posts/photo1.jpeg">
    </div>
    </div>
   
     

     <%- include("../partials/footer") -%>