<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d907dec37d.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Warp&display=swap" rel="stylesheet">

    <title>post-detail</title>
    
</head>
<body>

<div class="background">
    <div class="post-detail-card">
        <div class="post-detail-title">
        <h1>Inflated Anxiety</h1>
    
        </div>  
        <img class= "post-detail-img" src="../../public/photos/posts/inflated-anxiety.jpg">
    
        <div class="post-detail-artist-container">
            <div class="paintbrush">
            <i class="fa-solid fa-paintbrush"></i>
        </div>
            <div class="name-portfolio"><p>:intranet girl</p><a id= "portfolio-link" href="#">portfolio</a></div>
        </div>
        
        <div class="post-detail-description">
            <h2>Description:</h2>
            <p id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sequi labore atque, rerum veniam rem exercitationem qui minus error quos omnis iste commodi, quibusdam hic incidunt inventore cumque culpa aperiam!</p>
        </div>
    </div>
    
    
    
    </div>
    
</body>
</html>