<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

    <div class="background">
<div class="container-login">
    
    <h1>register</h1>
    <form action ="/register" method="POST" class="email-form">

    <div class="label-input">
    <label for ="username"><i class="fa-solid fa-user"></i></label>
    
    <input type="text" class="form-input" placeholder="username" name="username" required/>
    </div>

    <div class="label-input">
    <label for = "password"><i class="fa-solid fa-key"></i></label>

    <input type="text" class="form-input" placeholder="password" name="password" minlength="10" required />

    </div>
    <div class="submit-container">
    <input type="submit" value="sign up" id="sign-in"></div>
    

    

    <div class="submit-container">
    
      
    
    <div class="google-container">
    <button type="submit" value="sign up with google" id="sign-in-with-google" class="sign-in-with-google">
        <a href="/auth/google" role="button">sign up with google</a>
    </button>
    </div>

    </div>
    <div class="register-link">
    <p>already have an account? <a href="/login">sign in here</a></p>
    </div>

    </div>
</div>

<%- include("../partials/footer") -%>